In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("data/Net_generation_for_all_sectors.csv",index_col='description');
data.head()

,units,source key,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,Aug 2001,...,Feb 2016,Mar 2016,Apr 2016,May 2016,Jun 2016,Jul 2016,Aug 2016,Sep 2016,Oct 2016,Nov 2016
description,,,,,,,,,,,,,,,,,,,,,
Net generation for all sectors,thousand megawatthours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United States,NaN,ELEC.GEN..M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United States : all fuels (utility-scale),NaN,ELEC.GEN.ALL-US-99.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United States : other renewables,thousand megawatthours,ELEC.GEN.AOR-US-99.M,6025.0,5310.0,5795.0,5827.0,5738.0,5964.0,6244.0,6293.0,...,28738.0,31084.0,29666.0,28711.0,26236.0,28372.0,24465.0,26529.0,29749.0,28819.0
United States : wind,thousand megawatthours,ELEC.GEN.WND-US-99.M,389.0,431.0,532.0,685.0,635.0,670.0,635.0,577.0,...,20138.0,21939.0,20799.0,18848.0,16303.0,17618.0,13589.0,16404.0,20335.0,19406.0

In [3]:
data.dropna(inplace=True)
datanew = data.drop(['units', 'source key'], axis=1)

In [4]:
#datanew.set_index('description')
datanew.head()

,Jan 2001,Feb 2001,Mar 2001,Apr 2001,May 2001,Jun 2001,Jul 2001,Aug 2001,Sep 2001,Oct 2001,...,Feb 2016,Mar 2016,Apr 2016,May 2016,Jun 2016,Jul 2016,Aug 2016,Sep 2016,Oct 2016,Nov 2016
description,,,,,,,,,,,,,,,,,,,,,
United States : other renewables,6025.0,5310.0,5795.0,5827.0,5738.0,5964.0,6244.0,6293.0,5770.0,6050.0,...,28738.0,31084.0,29666.0,28711.0,26236.0,28372.0,24465.0,26529.0,29749.0,28819.0
United States : wind,389.0,431.0,532.0,685.0,635.0,670.0,635.0,577.0,490.0,607.0,...,20138.0,21939.0,20799.0,18848.0,16303.0,17618.0,13589.0,16404.0,20335.0,19406.0
United States : all utility-scale solar,7.0,13.0,31.0,39.0,81.0,91.0,92.0,85.0,65.0,21.0,...,2242.0,2617.0,2880.0,3425.0,3473.0,3945.0,3969.0,3635.0,3191.0,2767.0
United States : geothermal,1229.0,1073.0,1190.0,1095.0,1071.0,1088.0,1179.0,1167.0,1139.0,1162.0,...,1243.0,1315.0,1209.0,1342.0,1251.0,1311.0,1324.0,1327.0,1353.0,1364.0
United States : wood and wood-derived fuels,3191.0,2697.0,2853.0,2821.0,2740.0,2891.0,3053.0,3179.0,2874.0,3046.0,...,3406.0,3403.0,2967.0,3187.0,3414.0,3658.0,3722.0,3407.0,3176.0,3391.0

In [5]:
dataT =datanew.T

In [6]:
dataT.columns.tolist()

['United States : other renewables',
 'United States : wind',
 'United States : all utility-scale solar',
 'United States : geothermal',
 'United States : wood and wood-derived fuels',
 'United States : other biomass',
 'United States : all utility-scale solar']

In [7]:
dataT.dtypes

description
United States : other renewables               float64
United States : wind                           float64
United States : all utility-scale solar        float64
United States : geothermal                     float64
United States : wood and wood-derived fuels    float64
United States : other biomass                  float64
United States : all utility-scale solar        float64
dtype: object

In [8]:
dataT.head()

description,United States : other renewables,United States : wind,United States : all utility-scale solar,United States : geothermal,United States : wood and wood-derived fuels,United States : other biomass,United States : all utility-scale solar
Jan 2001,6025.0,389.0,7.0,1229.0,3191.0,1209.0,7.0
Feb 2001,5310.0,431.0,13.0,1073.0,2697.0,1096.0,13.0
Mar 2001,5795.0,532.0,31.0,1190.0,2853.0,1189.0,31.0
Apr 2001,5827.0,685.0,39.0,1095.0,2821.0,1187.0,39.0
May 2001,5738.0,635.0,81.0,1071.0,2740.0,1211.0,81.0

In [9]:
dataT.index.names = ['Fehca']
dataT.index = pd.to_datetime(dataT.index)

In [10]:
dataT

description,United States : other renewables,United States : wind,United States : all utility-scale solar,United States : geothermal,United States : wood and wood-derived fuels,United States : other biomass,United States : all utility-scale solar
Date,,,,,,,
2001-01-01,6025.0,389.0,7.0,1229.0,3191.0,1209.0,7.0
2001-02-01,5310.0,431.0,13.0,1073.0,2697.0,1096.0,13.0
2001-03-01,5795.0,532.0,31.0,1190.0,2853.0,1189.0,31.0
2001-04-01,5827.0,685.0,39.0,1095.0,2821.0,1187.0,39.0
2001-05-01,5738.0,635.0,81.0,1071.0,2740.0,1211.0,81.0
2001-06-01,5964.0,670.0,91.0,1088.0,2891.0,1225.0,91.0
2001-07-01,6244.0,635.0,92.0,1179.0,3053.0,1286.0,92.0
2001-08-01,6293.0,577.0,85.0,1167.0,3179.0,1285.0,85.0
2001-09-01,5770.0,490.0,65.0,1139.0,2874.0,1201.0,65.0
2001-10-01,6050.0,607.0,21.0,1162.0,3046.0,1215.0,21.0
2001-11-01,5713.0,470.0,14.0,1157.0,2879.0,1192.0,14.0
2001-12-01,6038.0,616.0,4.0,1190.0,2975.0,1253.0,4.0
2002-01-01,6599.0,811.0,11.0,1287.0,3255.0,1233.0,11.0
2002-02-01,5800.0,714.0,24.0,1132.0,2844.0,1086.0,24.0
2002-03-01,6354.0,852.0,44.0,1245.0,2961.0,1252.0,44.0
2002-04-01,6543.0,1024.0,46.0,1115.0,3196.0,1162.0,46.0
2002-05-01,6760.0,1078.0,58.0,1216.0,3161.0,1247.0,58.0
2002-06-01,7066.0,1126.0,96.0,1151.0,3395.0,1298.0,96.0
2002-07-01,7056.0,890.0,86.0,1262.0,3440.0,1378.0,86.0
2002-08-01,7044.0,977.0,75.0,1227.0,3369.0,1396.0,75.0
2002-09-01,6582.0,736.0,53.0,1195.0,3313.0,1285.0,53.0
2002-10-01,6559.0,734.0,31.0,1235.0,3346.0,1213.0,31.0
2002-11-01,6250.0,656.0,28.0,1189.0,3161.0,1215.0,28.0
2002-12-01,6497.0,755.0,4.0,1236.0,3222.0,1279.0,4.0
2003-01-01,6500.0,632.0,13.0,1258.0,3269.0,1328.0,13.0
2003-02-01,5962.0,745.0,18.0,1130.0,2905.0,1163.0,18.0
2003-03-01,6719.0,1036.0,50.0,1213.0,3080.0,1340.0,50.0
2003-04-01,6674.0,1093.0,60.0,1166.0,3036.0,1318.0,60.0
2003-05-01,6473.0,1006.0,68.0,1169.0,2928.0,1301.0,68.0
2003-06-01,6678.0,1047.0,91.0,1223.0,3028.0,1290.0,91.0
...,...,...,...,...,...,...,...
2014-06-01,24464.0,15799.0,1923.0,1293.0,3622.0,1826.0,1923.0
2014-07-01,21044.0,12187.0,1788.0,1320.0,3807.0,1942.0,1788.0
2014-08-01,19021.0,10171.0,1879.0,1329.0,3761.0,1880.0,1879.0
2014-09-01,19893.0,11520.0,1832.0,1308.0,3462.0,1772.0,1832.0
2014-10-01,22718.0,14508.0,1717.0,1345.0,3422.0,1726.0,1717.0
2014-11-01,26807.0,18867.0,1380.0,1362.0,3508.0,1691.0,1380.0
2014-12-01,22621.0,14711.0,1032.0,1375.0,3737.0,1767.0,1032.0
2015-01-01,23121.0,15162.0,1155.0,1362.0,3717.0,1725.0,1155.0
2015-02-01,22561.0,14922.0,1484.0,1260.0,3372.0,1524.0,1484.0
2015-03-01,23943.0,15308.0,2072.0,1394.0,3457.0,1712.0,2072.0
2015-04-01,26494.0,17867.0,2379.0,1272.0,3246.0,1729.0,2379.0
2015-05-01,26182.0,17151.0,2504.0,1390.0,3338.0,1799.0,2504.0
2015-06-01,22561.0,13421.0,2558.0,1302.0,3496.0,1784.0,2558.0
2015-07-01,23454.0,13675.0,2627.0,1357.0,3806.0,1989.0,2627.0
2015-08-01,22821.0,13080.0,2688.0,1344.0,3788.0,1921.0,2688.0
2015-09-01,22647.0,13972.0,2217.0,1203.0,3450.0,1805.0,2217.0
2015-10-01,24708.0,16380.0,1910.0,1323.0,3252.0,1843.0,1910.0
2015-11-01,28065.0,19682.0,1730.0,1334.0,3418.0,1902.0,1730.0
2015-12-01,28602.0,20098.0,1570.0,1377.0,3587.0,1969.0,1570.0
2016-01-01,26679.0,18466.0,1486.0,1332.0,3600.0,1795.0,1486.0
2016-02-01,28738.0,20138.0,2242.0,1243.0,3406.0,1708.0,2242.0
2016-03-01,31084.0,21939.0,2617.0,1315.0,3403.0,1809.0,2617.0
2016-04-01,29666.0,20799.0,2880.0,1209.0,2967.0,1811.0,2880.0
2016-05-01,28711.0,18848.0,3425.0,1342.0,3187.0,1909.0,3425.0
2016-06-01,26236.0,16303.0,3473.0,1251.0,3414.0,1794.0,3473.0
2016-07-01,28372.0,17618.0,3945.0,1311.0,3658.0,1840.0,3945.0
2016-08-01,24465.0,13589.0,3969.0,1324.0,3722.0,1860.0,3969.0
2016-09-01,26529.0,16404.0,3635.0,1327.0,3407.0,1757.0,3635.0
2016-10-01,29749.0,20335.0,3191.0,1353.0,3176.0,1693.0,3191.0
2016-11-01,28819.0,19406.0,2767.0,1364.0,3391.0,1891.0,2767.0